* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.3s ease;
    font-family: "Bai Jamjuree", "Minecraftia";
}

body {
  box-shadow: 
    inset -15rem 0 10rem #09090b,
    inset 15rem -10rem 10rem #09090b;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #09090b;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #1d83f1;
    border-radius: 1rem;
    height: 25%;
    transition: all 0.3s ease;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0d73df;
    border-radius: 1px;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #151a22;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}
  
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}
  
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
}

#copySec {
    font-size: medium;
    opacity: 0;
    visibility: hidden;
    width: 12rem;
    height: 4rem;
    color: #fff;
    border-radius: 0.5rem;
    background-color: #0f0f0ff8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease, visibility 0.5s ease;
    overflow: hidden; /* ซ่อนส่วนเกินของเส้น */
    z-index: 10;
}

#copySec.show {
    opacity: 0.8;
    visibility: visible;
}

/* เส้นสีฟ้าที่จะขยายจากตรงกลาง */
#copySec::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #1d83f1;
    border-radius: 2px;
    position: absolute;
    bottom: 0; /* วางเส้นที่ด้านล่างภายใน copySec */
    left: 0;
    transform: scaleX(0); /* เริ่มต้นด้วยการย่อเส้น */
    transform-origin: center; /* ขยายจากตรงกลาง */
    transition: transform 2s ease; /* ขยายเส้นใน 2 วินาที */
}

#copySec.show::after {
    transform: scaleX(1.1); /* ขยายจนสุด */
}

@keyframes slideInUp {
  from {
      transform: translateY(100px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes slideLUp {
  from {
      transform: translateX(-100px);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}
@keyframes slideRUp {
  from {
      transform: translateX(100px);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideTUp {
  from {
      transform: translateY(-100px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

.animate {
  opacity: 0;
}

.slide-in-up1 {
  animation: slideInUp 1s ease forwards;
}
.slide-in-up15 {
  animation: slideInUp 1.5s ease forwards;
}
.slide-in-up2 {
  animation: slideInUp 2s ease forwards;
}
.slide-in-up25 {
  animation: slideInUp 2.5s ease forwards;
}
.slide-in-up3 {
  animation: slideInUp 3s ease forwards;
}
.slide-in-up4 {
  animation: slideInUp 4s ease forwards;
}
.slide-in-up5 {
  animation: slideInUp 5s ease forwards;
}
.slide-in-up6 {
  animation: slideInUp 6s ease forwards;
}
.slide-in-up7 {
  animation: slideInUp 7s ease forwards;
}
.slide-in-up8 {
  animation: slideInUp 8s ease forwards;
}

.slide-in-upl1 {
  animation: slideLUp 1s ease forwards;
}
.slide-in-upr1 {
  animation: slideRUp 1s ease forwards;
}

.slide-in-upt1 {
  animation: slideTUp 1s ease forwards;
}

.sideupani {
  opacity: 0;
}
